<div class="container">
  <h3 mat-dialog-title>إضافه دواء</h3>

  <form autocomplete="off" class="mat-dialog-content" [formGroup]="addForm">

        <div>
          <mat-form-field>
            <input matInput type="text" placeholder="الاسم" formControlName="name">
            <mat-error *ngIf="errorHandling('name', 'required')">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label> النوع</mat-label>
            <mat-select formControlName="medicineTypeId">
              <mat-option *ngFor="let medicineType of data.medicineTypes" [value]="medicineType.id">
                {{medicineType.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="errorHandling('medicineTypeId', 'required')">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>الجرعه</mat-label>
            <mat-select formControlName="frequencyId">
              <mat-option *ngFor="let frequency of data.frequencys" [value]="frequency.id">
                {{frequency.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="errorHandling('frequencyId', 'required')">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>


        <div>
          <mat-form-field>
            <input matInput type="number" placeholder="المدة" formControlName="duration">
            <mat-error *ngIf="errorHandling('duration', 'required')">
              This field is required
            </mat-error>
          </mat-form-field>
        </div>

        <div mat-dialog-actions>
          <button mat-raised-button color="primary" type="submit" (click)="save()" [disabled]="!addForm.valid">حفظ</button>
          <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">إلغاء</button>
        </div>

  </form>
</div>
