<div class="container">
  <h3 mat-dialog-title>حذف المريض</h3>

  <div mat-dialog-content>
    الاسم: {{data.name }}
    <p></p>
    التليفون: {{data.telephone}}
    <p></p>
    العنوان: {{data.address}}
    <p></p>
    <!-- تاريخ الميلاد: {{data.birthday |  date: 'dd/MM/yyyy'}}
    <p></p> -->
    النوع: {{data.gender}}
    <p></p>
    الكود: {{data.code}}
    <p></p>
    السن: {{data.age}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="confirmDelete()">حذف</button>
    <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">إلغاء</button>
  </div>
</div>
