.toolbar-fullscreen {
  display: none;
}

.toolbar-filler {
  flex: 1 1 auto;
}

.toolbar {
  background-color: #666666;
  color: #ffffff;
}

.active-list-item {
  color: #3f51b5 !important;
}

.app-sidenav{
  min-width: 180px;
}
