<div class="container">
  <h3 mat-dialog-title>تعديل المستخدم</h3>

  <form autocomplete="off" class="mat-dialog-content" [formGroup]="editForm">

    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="الاسم" formControlName="name">
        <mat-error *ngIf="errorHandling('name', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>


    <div class="form-margin">
      <label>الصلاحية: </label>
      <mat-radio-group formControlName="role">
        <mat-radio-button value="doctor">دكتور</mat-radio-button>
        <mat-radio-button value="nurse">ممرضه</mat-radio-button>
      </mat-radio-group>
    </div>


    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" (click)="update()"
        [disabled]="!editForm.valid">Save</button>
      <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
