<div class="container">
  <h3 mat-dialog-title>إضافه مريض</h3>

  <form autocomplete="off" class="mat-dialog-content" [formGroup]="addForm">

    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="الاسم" formControlName="name">
        <mat-error *ngIf="errorHandling('name', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="التليفون" formControlName="telephone">
        <mat-error *ngIf="errorHandling('telephone', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="الكود" formControlName="code">
        <mat-error *ngIf="errorHandling('code', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="السن" formControlName="age">
        <mat-error *ngIf="errorHandling('age', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="text" placeholder="العنوان" formControlName="address">
        <mat-error *ngIf="errorHandling('address', 'required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-margin">
      <label>النوع: </label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="Male">ذكر</mat-radio-button>
        <mat-radio-button value="Female">اثنى</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- <div>
      <mat-form-field>
        <input matInput formControlName="birthday" [matDatepicker]="pickerBirthday" placeholder="تاريخ الميلاد">
        <mat-datepicker-toggle matSuffix [for]="pickerBirthday">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerBirthday></mat-datepicker>
      </mat-form-field>
    </div> -->


    <div mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" (click)="save()" [disabled]="!addForm.valid">حفظ</button>
      <button mat-raised-button color="warn" (click)="cancel()" tabindex="-1">إلغاء</button>
    </div>

  </form>
</div>
