.mat-column-name {
  width: 25% ;
}

.mat-column-email {
  width: 25% ;
}

.mat-column-mobileNumber {
  width: 25% ;
}

.mat-column-edit {
  width: 5% ;
}

.mat-column-changePassword {
  width: 10% ;
}

.mat-column-delete {
  width: 5% ;
}
