<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 25px; margin-bottom: 25px;">

  <mat-card fxFlex="90">

      <div fxLayout="row" class="flex-container" fxLayout.xs="column">

        <div fxFlex="50">
          الملاحظات: {{supply?.notes }}
        </div>

        <div fxFlex="50">
          التاريخ: {{supply?.date | date: 'dd/MM/yyyy'}}
        </div>



      </div>

  </mat-card>

</div>


<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> الصنف </th>
      <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> الكمية </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> التكلفه </th>
      <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> السعر </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

