.container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.container>* {
  width: 100%;
}

.mat-dialog-content {
  height: 290px;
}

.mat-form-field {
  width: 100%;
  font-size: 16px;
  flex-grow: 1;
}

.mat-radio-button {
  margin: 0 12px;
}

.mat-dialog-actions {
  justify-content: center;
}
